{% extends "base.html" %}

{% block content %}
    <h1>About <span>Mo</span></h1>

    <div class="about-container">
        <img src="{{ url_for('static', filename='images/hero2.jpg') }}" alt="Fitness Image" class="hero-image">
        <div class="container">
            <p>Hi, I'm Mo! I'm a computer science student with a passion for both coding and fitness...</p>
            <p>As part of my studies, I designed a Flask-based algorithm to generate personalized workout plans for users.</p>
            <p>Let's get stronger together!</p>
        </div>
    </div>
{% endblock %}
