<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mo's Fitness Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About Me</a>
        <a href="/algorithm">Design Your Workout</a>
        <a href="/my_plans">My Plans</a>
        <a href="/past_workouts">Past Workouts</a>
        {% if 'user_id' in session %}
        <a href="/logout">Logout</a>
        {% else %}
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        {% endif %}
    </nav>

    <h1>Welcome to <span>Mo's Fitness Page</span></h1>

   
    <img src="{{ url_for('static', filename='images/hero1.jpg') }}" alt="Fitness Image" class="hero-image">

    <div class="container">
        <p>Welcome to my fitness app. I'm here to help you design a workout plan that meets your needs and can help you track your progress. My app combines current, up-to-date 
            fitness industry expertise to recommend you the most reliable and effective plans to reach your goals.
        </p>
        <p><strong>Let’s build a stronger, healthier you!</strong></p>
        <a href="/algorithm" class="cta-button">Get Started</a>
    </div>

    <footer>
        &copy; 2024 Mo's Fitness Page. All Rights Reserved. | <a href="/privacy">Privacy Policy</a>
    </footer>
</body>

</html>